.navbar {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  border-bottom: 1px solid #e8e8e8;
}

.logo-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.navbar-logo {
  height: 40px;
  width: 40px;
}
