.group-list-container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  background-color: #fcfcfd;
}

.group-list-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.group-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #9ca3af;
  padding: 12px;
}

.group-row-title {
 display: flex;
 flex-direction: row;
  gap: 4px;
  align-items: center;
}

.group-row-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.group-row-activity {
  display: flex;
 flex-direction: row;
 gap: 4px;
 align-items: center;
}

.group-row-actions {
  gap: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.groups-table th,
.groups-table td {
  padding: 12px 16px; /* This gives the row effect - 12px top/bottom, 16px left/right */
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.group-row-activity-icon{
   color: #9ca3af;
}

.groups-table th:nth-child(1),
.groups-table td:nth-child(1) {
  width: 25%;
}

.groups-table th:nth-child(2),
.groups-table td:nth-child(2) {
  width: 15%;
}

.groups-table th:nth-child(3),
.groups-table td:nth-child(3) {
  width: 15%;
}

.groups-table th:nth-child(4),
.groups-table td:nth-child(4) {
  width: 15%;
}

.groups-table th:nth-child(5),
.groups-table td:nth-child(5) {
  width: 30%;
}




