.group-dashboard-container {
    width: 85%;
    height: 100%;
    display:flex;
    padding: 12px;
    flex-direction: column;
    gap: 12px;
    background-color: #F2F0EF; 
}

.group-dashboard-groups-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.group-dashboard-groups-action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}