.sidebar-tab-container {
  border-radius: 12px;
  display: flex;
  width: 80%;
  padding: 12px;
  box-sizing: border-box;
  gap: 10px;
  margin-left: 2px;
}

.sidebar-icon {
  width: 20px;
  height: 20px;
}

.sidebar-tab-container:hover {
  background-color: #6366f1;
  color: white;
  cursor: pointer;
  width: 80%;
}
