.heading {
  font-size: 32px;
  font-weight: 700;
}

.subheadig {
  font-size: 24px;
  font-weight: 600;
}

.body {
  font-size: 16px;
  font-weight: 400;
}

.caption {
  font-size: 12px;
  font-weight: 400;
  color: #6b7280;
}

.text {
  text-align: start;
}
